html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-height: 100%;
  font-weight: 400;
  background: $c-white;
  margin: 0;
  font-family: "Golos-Regular";
  font-size: 16px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1170px;
  }
}

.hidden {
  display: none;
}

.mobile-hidden {
  display: block;
  @media (max-width: 767px) {
    display: none;
  }
}

.desktop-hidden {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}
