.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 11px 20px;
  text-align: center;
  outline: none;
  line-height: 24px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    box-shadow: none;
  }

  // .btn-primary
  &-primary {
    color: $c-white;
    transition: all 0.3s ease-in;
    background-color: transparent;
    border: 2px solid #ffffff;

    &:hover {
      background: $c-deep-blue;
      border: 2px solid $c-deep-blue;
    }
  }

  // .btn-filter-mobile
  &-filter-mobile {
    color: $c-white;
    transition: all 0.3s ease-in;
    background-color: transparent;
    border: none;
    padding: 5px 0;
    width: 100%;
    text-align: left;
    font-family: "Golos-Medium";
    display: none !important;
    position: relative;

    @media (max-width: 767px) {
      display: block !important;
    }

    &:after {
      @extend %slider-icon-property;
      content: "";
      position: absolute;
      right: 0;
      top: 5px;
      width: 26px;
      height: 26px;
      background-position: -46px 0;
    }

    &.active {
      &:after {
        @extend %slider-icon-property;
        content: "";
        position: absolute;
        right: 0;
        top: 5px;
        width: 26px;
        height: 26px;
        background-position: -92px 0;
      }
    }
  }
}
