@font-face {
  font-family: "Golos-Regular";
  src: url("#{$font-folder}Golos-Regular/Golos-Regular.eot");
  src: local("Golos-Regular"),
    url("#{$font-folder}Golos-Regular/Golos-Regular.woff") format("woff"),
    url("#{$font-folder}Golos-Regular/Golos-Regular.ttf") format("truetype"),
    url("#{$font-folder}Golos-Regular/Golos-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Golos-Medium";
  src: url("#{$font-folder}Golos-Medium/Golos-Medium.eot");
  src: local("Golos-Medium"),
    url("#{$font-folder}Golos-Medium/Golos-Medium.woff") format("woff"),
    url("#{$font-folder}Golos-Medium/Golos-Medium.ttf") format("truetype"),
    url("#{$font-folder}Golos-Medium/Golos-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
